
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.visually__hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.site-header {
    margin-bottom: 30px;
    background-color: #e4e4e4;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 27px;
}

.header__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    padding-right: 41px;
}

.header__span {
    color: #0000ff;
}

.header__desc .header__text:first-child {
    padding-right: 25px;
}

.header__text {
    display: inline-block;
}

.header__form {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header__search__input {
    padding-right: 25px;
}

.header__search {
    width: 275px;
    padding: 15px 0 13px 15px;
    background-image: url('../images/search.svg');
    position: left;
    padding-left: 30px;
    border: none;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.header__button {
    width: 50px;
    background-color: #dce6ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5px 0;
    border-radius: 30px;
}

.button__controller {
    font-size: 13px;
    color: #808080;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 3px;
}
.button__controller:focus {
    color: #000;
    background-color: #fff;
    border-radius: 30px;
}

.header__sign__btn {
    padding-left: 25px;
}

.header__sign__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 13px 20px;
    background-color: #7296EC;
    border-radius: 10px;
    border: transparent;
}

.header__btn:hover {
    background-color: #7296EC;
    opacity: 0.8;   
}

.header__btn:active {
    background-color: #7296EC;
    opacity: 0.5;   
}

.intro__line {
    padding-top: 20px;
    margin-bottom: 40px;
}

.intro__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}


.intro__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
}

.margin-bottom {
    margin-bottom: 40px;
}
.main {
    margin-bottom: 100px;
}

.news__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 0;
}

.news__item {
    margin-bottom: 10px;
    display: inline-block;
    width: 393px;
    padding: 20px 17px 15px;
    background: #e4e4e4;
    border-radius: 15px;
}

.news__title {
    width: 358px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.news__text {
    width: 346px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}

.news__bottom__desc {
    display: flex;
    align-items: center;
    padding-top: 18px;
}

.news__bottom__text {
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

.padd-top {
    padding-top: 40px;
}

.main__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.notification__card {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/bc-image.png');
    background-size: cover;
}

.notification__title {
    width: 404px;
    padding: 24px 0 24px 29px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.notification__button {
    padding-right: 71px;
}

.notification__link {
    text-decoration: none;
    padding: 13px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    background-color: #F78B3B;
    color: #FFFFFF;
}